#about {
	margin: 80px 80px 26px 80px;
	font-size: 20px;
	text-align: justify;
	color: var(--black);
	h1 {
		font-size: 48px;
		margin-bottom: 10px;
	}
}
.experience-certificate-section {
	margin-top: 20px;
	gap: 4px;
	div h2 {
		font-size: 26px;
	}
}
.experience-card,
.certificate-card {
	margin: 10px 10px 0px 10px;
	padding: 0px 18px 10px 18px;
	border-radius: 10px;
	border: 1px solid var(--primary);
}
.certificate-inner-card .col {
	border-right: 2px solid var(--black);
	margin-right: 20px;
	border-radius: 4px;
}
.experience-card div h3,
.certificate-card div h3 {
	font-size: 20px;
}
.experience-card div div div span,
.certificate-card div div div span {
	font-size: 13px;
	padding: 3px 8px 3px 8px;
	border-radius: 10px;
	border: 1px solid var(--black);
}
.experience-card div div .company,
.certificate-card div div .company {
	font-size: 15px;
}
.certificate-card div div div div div .detail {
	font-size: 14px;
}
.ic-view-certificate:hover {
	color: var(--primary);
	background-color: var(--primary-opacity);
	transition: 0.4s;
}
.modal-img {
	width: 100%;
	height: auto;
}
.certificate-modal {
	border-radius: 10px;
}
.certificate-modal-body {
	padding: 0px;
	p {
		padding: 12px;
	}
}
.certificate-modal, .certificate-modal-heading, .certificate-modal-body, .certificate-modal-footer {
 background-color: var(--white);
 color: var(--black);
}